<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Événement</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header class="site-header">
    <div class="container">
      <div class="logo">
        <img src="téléchargement__5_-removebg-preview.png" alt="Logo">
      </div>
      <nav class="nav-links">
        <a href="#">Voir Mes Trajets</a>
        <a href="#">Proposer un Trajet</a>
        <a href="#">Mes Réservations</a>
        <a href="#">Mon Profil</a>
      </nav>
      <div class="buttons">
        <button>Connexion</button>
      </div>
    </div>
  </header>

</body>
</html>
